body {
    background: #f3f6ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2a4d9b;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}

button {
    width: 100%;
    background: #2a4d9b;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #163984;
}

#result {
    margin-top: 20px;
    background: #e6f3ff;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: #003366;
}
