body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      background-color: #3578e5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      display: inline-block;
      
    }

    .login-container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: 320px;
      display: inline-block;
    }

    .login-container h2 {
      text-align: left;
      margin-bottom: 20px;
      color: #333;
    }

    .input-box {
      width: 80%;
      margin-bottom: 15px;
      position: relative;
    }

    .input-box input {
      width: 100%;
      padding: 10px 40px 10px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .remember {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .remember a {
      text-decoration: none;
      color: #3578e5;
    }

    .btn {
      width: 100%;
      background-color: #3578e5;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
    }

    .signup {
      text-align: center;
      font-size: 13px;
      margin-top: 10px;
    }

    .signup a {
      text-decoration: none;
      color: #3578e5;
    }

    