h1{
    width: 200px;
 
  border: 1px solid #000;
  margin-left: 0px;
  background-position: 20px;
 

}
h1:hover
{
  margin-left: 200px;
  transition: margin-left 5s; 

  

  /* width: 400px;
  transition: width 5s; */

  /* width: 20px;
  transition: background-color pink 5s; */

  /* width: 4px;
  background-position: 20px;
  transition:  background-position 5s ;
   */
}

h1:hover{
  margin-up: 200px;
  transition: margine-up 5s;
}

#outer{
  width: 400px;
  height: 50px;
   border: 1px solid #000;

   #inner{
    width: 0%;
    height: 50px;
    border: 1px solid #000;
    background-color: orangered;
   } 
}
#outer:hover{
  #inner{
    width: 100%;
    transition: width;
    background-color: blue;
    transition: width 5s ease-in-out, background-color 5s ease-in-out;
  }
}
#outer1{
    width: 500px;
    height: 50px;
    border: 1px solid #000;
  #inner1{
    height: 50px;
  }
}

#outer1:hover{
  #inner1{
    animation: myAnimation 5s linear;

  }
}

@keyframes myAnimation{
  0%{
    width: 0%;
    background-color: red;
  }
  50%{
    width: 50%;
    background-color: yellow;
  }
  100%{
    width: 100%;
    background-color: green;
  }
  
  

}