#mainDiv{
  width: 700px; 
  height: 700px;
  border: 1px solid #000;
  background-color: aqua;
  display: grid;
  grid-template-columns: 100px 150px 100px 250px;
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.subDiv{
   width: 60px; 
  height: 60px;
  border: 1px solid #000;
  background-color: beige;
}