#box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  position: absolute;
  animation: movingbox 2s infinite;
  background-color: burlywood;
}

@keyframes movingbox {
  0% {
    top: 0px;
    left: 0px;
  }

  25% {
    top: 0px;
    left: 500px;
  }

  50% {
    top: 500px;
    left: 500px;

  }

  75% {
    top: 500px;
    left: 0px;
  }

  100% {
    top: 0;
    left: 0;
  }
}