body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background: #f7f9fc;
  color: #333;
}

.navbar {
  background: blue;
  padding: 15px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

.navbar a:hover {
  color: #f4f4b7;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #8dabd9, #ffffff);
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  font-size: 18px;
  color: #555;
}

.btn {
  background: #0b63e6;
  color: rgb(226, 152, 152);
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #084bb3;
}

#products h2 {
  text-align: center;
  margin-top: 40px;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.product-card {
  width: 240px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.brand {
  color: #777;
}

.price {
  font-weight: bold;
  color: #0b63e6;
  font-size: 18px;
}
form {
  max-width: 420px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
section h2 {
  text-align: center;
  margin-top: 40px;
}
