
body{
    padding-left: 63px;
    padding-right: 63px;
}

#navbar {
    background: transparent; 
    backdrop-filter: blur(100px);
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
    opacity: 95%;
    

    .item{
        font-size: large;
    }

    .signin:hover{
        background-color: rgb(232, 232, 232);
    }

    .signin{
        border: 0;
        color: black;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px; 
    }

    .blocks:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }
    
    .blocks{
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 10px 20px;
    }

    div{
        display: flex;
        gap: 30px;
    }

    position: sticky;
    top: 0%;
}

#frontcon{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 20px;    
}

#portofolio,#photo{
    display: inline-block;

    h1{
        font-size: xxx-large;
    }

    img{
        border-radius: 20px;
        height: 580px;
        width: 640px;
    }

}

#portofolio{
    margin-top: 80px;
    margin-left: 20px;

    h1{
        font-size: xxx-large;
    }

    .terms{
        color: gray;
    }

    .content{
        color: gray;
        margin-right: 100px;
    }

    p{
        font-size: x-large;
    }

    #mail{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 350px;
        height: 40px;
    }

    #mail:placeholder{
        font-size: large;
    }

    button:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }

    button{
        background: black;
        color: white;
        margin-left: 15px;
        border-radius: 10px;
        height: 45px;
        width: 150px;
    }
}

#seconddiv{


    h3{
        margin-top: 100px;
        text-align: center;
    }

    #logos{
        margin-top: 50px;
        margin-left: 140px;
        display: flex;
        align-items: center;
    }

    img{
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

#skills{
    .head2{
        text-align: center;
        font-size: x-large;
    }

    .prg{
        color: #868687;
        font-size: larger;       
        text-align: center;
    }
}

#third{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;


    .thirdsub{
        margin-top: 50px;
        align-items: center;
        text-align: center;
        width: 400px;
        height: 250px;
    }
    #stack{
        padding-top: 10px;
        height: 80px;
    }
    #icon{
        height: 90px;
    }

    h2{
        font-size: larger;
    }

    .blabla{
        margin-right: 30px;
        margin-left: 30px;
        font-size: large;
        color: #868687;
    }
}

#fourth{

    #head4{
        margin-top: 100px;
        text-align: center;
        font-size: x-large;
    }

    .head4prg{
        color: #868687;
        text-align: center;
        font-size: large;
        font-weight: 400;
    }

}

#projects{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

    .project{
        margin-top: 100px;
        height: 400px;
        width: 300px;
    }

    h3{
        font-size: x-large;
        text-align: left;
    }

    .procon{
        font-size: large;
        color: #868687;
        text-align: left;
    }

    .img{
        height: 200px;
        width: 300px;
    }

    #detailbutton{
        display: flex;
    }

    .butsee:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }
    
    .butsee{
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 5px 18px;
    }

}

#fifth{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

    h2{
        font-size: xx-large;
    }

    p{
        color: #868687;
        font-size: large;
    }

    .viewmore:hover{
        background-color: rgb(232, 232, 232);
    }

    .viewmore{
        margin-left: 5px;
        border: 0;
        color: black;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px; 
    }

    #subfifth{
        margin-left: 30px;
        margin-right: 58px;
        width: 500px;
        height: 300px;
    }

    .imgtext{
        height: 70px;
    }

    p1{
        height: 70px;
        padding-top: 20px;
        color: #868687;
        text-align: left;
        font-size: large;
        width: 400px;
    }

    #indiv1{
        display: flex;
    }

}

#six{
    margin-top: 100px;
    h1{
        font-size: xx-large;
    }

    p{
        color: #868687;
        font-size: x-large;
    }

    #updiv{
        text-align: center;
    }

    #downdiv{
        display: flex;
        justify-content: space-around;
        height: 400px;
        margin-top: 50px;
        padding-left: 100px;
        padding-right: 10px;
        position: relative;
    }

    p1{
        color: #868687;
        font-size: large;
    }
    h4{
        color: #868687;
        font-size: medium;
    }

    #downin{
        width: 440px;
        height: 290px;
    }

    .heading6{
        font-size: xx-large;
    }

    #downinimg{
        position: absolute;
        padding-top: 295px;
        padding-left: 0 ;
        display: flex;
        gap: 20px;
        margin-right: 900px;
    }

    .inimg{
        height: 40px;
        border-radius: 7px;
    }

    #imgdiv{margin-top: 30px;
        width: 400px;
        height: 350px;
    }

    .imgdivin1{
        border-radius: 20px;
        height: 300px;
    }
}

#seven{
    margin-top: 170px;
    display: grid;
    justify-content: auto;

    #seventop1{
        text-align: center  ;
    }

    h3{
        color: #868687;
    }

    #sevenlogo{
        margin-top: 50px;
        margin-left: 140px;
        display: flex;
        align-items: center;
    }

    img{
        filter: grayscale(100%);
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }  
    
    #sevendown{
        margin-top: 100px;
        text-align: center;

        h1{
            font-size: xxx-large;
        }

        p{
            color: #868687;
            font-size: x-large;
        }
    }

}

#reg{
    margin-top: 100px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    #regdiv{
        border-radius: 20px;
        width: 1330px;
        background-color: #ecf2f5;
        height: 550px;
        display: flex;
        align-items:center ;
    }

    /* #regdivin1{

        margin-left: 25px;
        
        background-color: #141415;
        height: 500px;
        width: 1330px;
    } */

    #regdivinfo{
        background-color: #1a1919;
        border-radius: 10px;
        margin-left: 30px;        
        height: 500px;
        width: 760px;
    }

    h2{
        color: white;
        font-size: xx-large;
    }

    p{
        color: #868687;
        font-size: large;
    }

    #form{
        margin-left: 80px;
        margin-right: 50px;
        height: 500px;
        width: 950px;
    }   
    
    #namesec{
        display: flex;
        gap: 15px;
    }

    #regname{
        width: 322px;
    }

    input{
        background: transparent; 
        border: 0;
    }

    .message{
        width: 600px;
        height: 90px;
    }

    p1{
        color: rgb(44, 130, 101);
    }

    .choose{
        background: transparent;
    }

    #lastbut{
        display: flex;
        justify-content: right;
        margin-top: 30px;
    }

    #send:hover{
        box-shadow: 2px 5px 15px #a3a3a4;
    }
    
    #send{
        margin-right: 20px;
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 10px 20px;
    }   


    

}