@import "tailwindcss";


:root {
  /* Primary */
  --color-primary: #DE3163;
  --color-primary-hover: #C62A58;

  /* Secondary */
  --color-secondary: #E195AB;
  --color-secondary-hover: #D07F97;

  /* Background & Text */
  --color-background: #FFEDFA;
  --color-text: #5A1F33;

  /* Accent */
  --color-accent: #CCDF92;
}
