#first {
  width: 100%;
  padding: 20px;
  border: 2px solid #000;
  display: flex;
  gap: 30px;
}

#f1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  width: 200px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background: #f1f1f1;
}

#second {
  width: 900px;
  height: auto;
  padding: 20px;
  border: 2px solid #000;
  margin-left: 20px;
}