/* #bulb{
  padding: 150px;
  border: 1px solid #000;
  border-radius: 50%;
  width: fit-content;
}

button{
  margin: 20px;
}


#smartBulb{
  height: 100px;
  width: 100px;
  display: flex;

} */

#bulb{
    padding: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    width: fit-content;
    
}

button{
    margin: 10px;

}

input{
    margin-top: 50px;
    width: 200px;
    height: 50px;
}

#smartBulb{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
}